In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
airbnb = pd.read_csv(r"E:\AB_NYC_2019.csv")
airbnb.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,22-06-2019,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,05-10-2017,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,24-06-2019,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,21-07-2017,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,09-06-2019,1.33,4,188

In [4]:
airbnb.shape

(48895, 16)

In [5]:
airbnb.describe

<bound method NDFrame.describe of              id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      19-10-2018               0.21                               6
1      21-05-2019               0.38                               2
2             NaN                NaN                               1
3      05-07-2019               4.64                               1
4      19-11-2018               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]>

In [6]:
Finding null values

SyntaxError: invalid syntax (Temp/ipykernel_10316/1012156863.py, line 1)

In [7]:
airbnb.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
## replacing null values with 0 for reviews per month
airbnb.fillna({'reviews_per_month':0},inplace= True)
airbnb.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
creating bins

In [9]:
airbnb2 = airbnb.copy(deep=False)

In [10]:
min_nights_range = ['Less than a week','1-2 Weeks','2-4 Weeks','1-3 Months','3 Months - 1 Year','More than a Year']
min_nights_range

['Less than a week',
 '1-2 Weeks',
 '2-4 Weeks',
 '1-3 Months',
 '3 Months - 1 Year',
 'More than a Year']

In [11]:
airbnb2['min_nights_range'] = pd.cut(x=airbnb2['minimum_nights'],bins = [0,8,15,31,91,365,400],labels = min_nights_range)
airbnb2['min_nights_range'].value_counts()

Less than a week     41692
2-4 Weeks             5075
1-2 Weeks             1582
1-3 Months             352
3 Months - 1 Year      180
More than a Year         3
Name: min_nights_range, dtype: int64

In [13]:
availability_365_categories = ['0-2 months','2-4 months','4-6months','6-8 months','8-10 months','10-12 months']
availability_365_categories

['0-2 months',
 '2-4 months',
 '4-6months',
 '6-8 months',
 '8-10 months',
 '10-12 months']

In [14]:
airbnb2['availability_365_categories'] = pd.cut(x=airbnb2['availability_365'],bins = [0,60,120,180,240,300,370,],labels = availability_365_categories)
airbnb2['availability_365_categories'].value_counts()

0-2 months      8270
10-12 months    8108
2-4 months      4790
4-6months       3938
8-10 months     3508
6-8 months      2748
Name: availability_365_categories, dtype: int64

In [15]:
no_of_reviews_range = ['Very Low','Low','Average','High','Very High']
no_of_reviews_range

['Very Low', 'Low', 'Average', 'High', 'Very High']

In [16]:
airbnb2['no_of_reviews_range'] = pd.cut(x=airbnb2['number_of_reviews'],bins = [1,100,200,300,400,1000],labels = no_of_reviews_range)
airbnb2['no_of_reviews_range'].value_counts()

Very Low     30604
Low           2360
Average        503
High            93
Very High       39
Name: no_of_reviews_range, dtype: int64

In [23]:
price_ranges = ['very low','low','medium','high','very high']
price_ranges

['very low', 'low', 'medium', 'high', 'very high']

In [25]:
airbnb2['price_ranges'] = pd.cut(x=airbnb2['price'],bins = [1,100,200,300,400,1000],labels = price_ranges)
airbnb2['price_ranges'].value_counts()

very low     23917
low          16583
medium        5027
high          1594
very high     1524
Name: price_ranges, dtype: int64